<html ng-app="appCrudAngular">

<head>
    <link rel="stylesheet" href="../../bower_components/angular/angular-csp.css">
    <link rel="stylesheet" href="../../bower_components/angular-material/angular-material.css">

</head>


<body ng-controller="Consultatrl">


<div>
    <div>
        <h1 class="md-title">Consulta</h1>

        <div>


            <div>
                <label>Cliente: </label>
                <select ng-model="listarclientes"  ng-options="cliente.nome for cliente in clientes">
                    <option value="">Escolha um cliente</option>
                </select>
                <button ng-click="buscarporcliente(cliente.idCliente)"> Buscar </button>
                <br>
                <br>
            </div>

            <div>
                <h4>Contrato Data Inicial e Final</h4>
                <input type="date" ng-model="contrato.inicio" name="Data Inicial">
                <input type="date" ng-model="contrato.fim" name="Data Final">

                <button ng-click="buscarpordatapedido(contrato.inicio+contrato.fim)"> Buscar </button>
                <br>
                <br>
            </div>


            <div>
                <h4>Evento Data Inicial e Final</h4>
                <input type="date" ng-model="evento.inicio" name="Data Inicial">
                <input type="date" ng-model="evento.fim" name="Data Final">

                <button ng-click="buscarpordataevento(evento.inicio+evento.fim)"> Buscar </button>
                <br>
                <br>
            </div>


        </div>
    </div>


            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Data Evento</th>
                    <th width="20%"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="pedido in pedidos">
                    <td><span ng-bind="pedido.id"></span></td>
                    <td><span ng-bind="pedido.cliente.nome"></span></td>
                    <td><span ng-bind="pedido.dataEvento"></span></td>
                    <td>
                        <button type="button" ng-click="/DetalhePedidoView/pedido" class="btn btn-success custom-width">Detalhes</button>
                    </td>
                </tr>
                </tbody>
            </table>


</div>

<script src="../../bower_components/angular/angular.min.js"></script>
<script src="../../bower_components/angular-aria/angular-aria.min.js"></script>

<script src="../../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../../bower_components/angular-material/angular-material.js"></script>
<script src="../../controller/app.js"></script>
<script src="consulta.js"></script>

</body>

</html>