<html ng-app="appCrudAngular">

<head>

    <link rel="stylesheet" href="bower_components/angular/angular-csp.css">

    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">


    <!-- Material Design Lite -->
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>


<body>


<div ng-controller="ClienteCtrl" class="md-padding" ng-cloak>
    <div>
        <h1 class="md-title">Consulta</h1>

        <div>

            <md-input-container>
                <label>Nome:</label>
                <md-select ng-model="cliente">
                    <md-option ng-repeat="cliente in clientes" value="{{cliente.nome}}">
                        {{cliente.nome}}
                    </md-option>
                </md-select>
            </md-input-container>

            <div>

                <md-content>

                    <div layout="row">

                        <h4>Contrato Data Inicial</h4>
                        <md-datepicker ng-model="contrato.inicio" md-placeholder="Data Inicial"></md-datepicker>


                        <h4>Contrato Data Final</h4>
                        <md-datepicker ng-model="contrato.fim" md-placeholder="Data Final"></md-datepicker>
                    </div>

                </md-content>

            </div>


            <div>

                <md-content>

                    <div layout="">

                        <h4>Evento Data Inicial</h4>
                        <md-datepicker ng-model="evento.inicio" md-placeholder="Data Inicial"></md-datepicker>


                        <h4>Evento Data Final</h4>
                        <md-datepicker ng-model="evento.fim" md-placeholder="Data Final"></md-datepicker>
                    </div>

                </md-content>

                <md-button class="md-raised md-primary" ng-click="buscarConsulta()"> Buscar</md-button>
            </div>
        </div>
    </div>


    <div ng-cloak>
        <md-content>
            <!--<md-list>-->
            <!--<md-list-item class="md-3-line md-long-text" ng-repeat="pedido in pedidos">-->

            <!--<div class="md-list-item-text">-->
            <!--{{"Nome:"+pedido.getCliente().getNome() + " / "+ "Data Evento:"+pedido.getDataEvento() }}-->

            <!--<button ng-click="Detalhes(pedido)"> Editar</button>-->

            <!--</div>-->


            <!--</md-list-item>-->
            <!--</md-list>-->





            <md-list>
                <md-subheader class="md-no-sticky">3 line item</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="cliente in clientes">


                    <div class="md-list-item-text" layout="column">
                        <h3>{{"Nome: "+cliente.nome }}</h3>
                        <h4>{{"Data Pedido: "+pedido.datapedido }}</h4>
                        <md-button class="md-raised md-primary" ng-click="Detalhes(pedido)"> Detalhes</md-button>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>

    </div>


</div>


<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>

<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="controller/app.js"></script>
<script src="controller/cadastroClienteController.js"></script>

</body>

</html>